@media(min-width:768px){
    .navbar>.container {
        padding: 1px 40px;
    }  
    .container-fluid>a {
        margin:0 10px;
    }
    form.d-flex{
        width:560px !important ;
    }
}

.container-fluid{
    height: 40px;
}
.container>a {
    padding: 4px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    opacity: 1;
}

a:hover{
    color: red !important;
}
