@media(min-width:768px){
    .navbar>.container {
        padding: 1px 40px;
    }  
    .container-fluid>a {
        margin:0 10px;
    }
    form.d-flex{
        width:560px !important ;
    }
}

.container-fluid{
    height: 40px;
}
.container>a {
    padding: 4px;
    cursor: pointer;
    color: unset;
    text-decoration: none;
    opacity: 0.7;
}

.container-fluid>a:hover{
    opacity: 1;
    color: unset;
}

button.btn.btn{
    position: relative;
    left: 10px;
    background-color: white;
}

img{
    vertical-align: baseline !important;
}

@media(min-width:768px){
.carousel-control-prev {
    left: -17px !important;
    border: 1px solid black !important;
    border-radius: 5% !important;
    background: black !important;
    width: 50px !important;
    height: 50px !important;
    top: 150px !important;
}

.carousel-control-next {
    right: -17px !important;
    border: 1px solid black !important;
    border-radius: 5% !important;
    background: black !important;
    width: 50px !important;
    height: 50px !important;
    top: 150px !important;
}
}

