@media(min-width:768px){
    .navbar>.container {
        padding: 1px 40px;
    }  
    .container-fluid>a {
        margin:0 10px;
    }
    form.d-flex{
        width:560px !important ;
    }
}

.container-fluid{
    height: 40px;
}
.container>a {
    padding: 4px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    opacity: 1;
}

a:hover{
    color: red !important;
}

button.btn.btn{
    position: relative;
    left: 10px;
    background-color: white;
}

img{
    vertical-align: baseline !important;
}

@media(min-width:768px){
.carousel-control-prev {
    left: 35px !important;
    border: 1px solid black !important;
    border-radius: 50% !important;
    background: black !important;
    width: 50px !important;
    height: 50px !important;
    top: 185px !important;
}

.carousel-control-next {
    right: 35px !important;
    border: 1px solid black !important;
    border-radius: 50% !important;
    background: black !important;
    width: 50px !important;
    height: 50px !important;
    top: 185px !important;
}
}

