*{
    box-sizing: border-box;
}
.carousel-indicators [data-bs-target]{
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
}
@media(max-width:500px){
    .foot{
        display: none;
    }
}

.card-img{
    height: 260px !important;
}

@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 22%;
}
}


/* .bg-dark.text-white.card:hover{
    color:rgb(255, 0, 0) !important;
    font-size: 17px;
    cursor: pointer;
} */

